$break-sm: 768px;
$break-md: 992px;
$break-lg: 1200px;

$font: 'Times New Roman', Times, serif;

$button-background: #d1eda0;

$input-border: 1px solid #cccccc;

$input-error-color: red;
$input-error-border: 1px solid red;
$input-focus-background: lightyellow;

